{%extends 'base.html'%} {%block content%} {%load static%}

<div
  class="site-blocks-cover inner-page"
  style="background-image: url({%static 'images/hero_1.jpg'%})"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto align-self-center">
        <div class="text-center">
          <h1>About Us</h1>
          <p>
            <strong>Your health and preferences are our top priorities</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="block-16">
          <figure>
            <img
              src="{%static 'images/bg_1.jpg'%}"
              alt="Image placeholder"
              class="img-fluid rounded"
            />
            <a
              href="https://vimeo.com/channels/staffpicks/93951774"
              class="play-button popup-vimeo"
              ><span class="icon-play"></span
            ></a>
          </figure>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">How We Started</h2>
        </div>
        <p>
          Our journey as a Patient-Centered Pharmacy began with a simple yet
          powerful idea: to revolutionize the way patients experience
          medication. We noticed that traditional pharmacies often overlooked
          the importance of individual preferences and needs, leading to a
          less-than-optimal medication experience for many people. We were
          determined to change that.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img
              src="{%static 'images/hero_1.jpg'%}"
              alt="Image placeholder"
              class="img-fluid rounded"
            />
            <a
              href="https://vimeo.com/channels/staffpicks/93951774"
              class="play-button popup-vimeo"
              ><span class="icon-play"></span
            ></a>
          </figure>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Patient-Driven Medication Selection</h2>
        </div>
        <p class="text-black">
          At our pharmacy, we understand that no two patients are alike, and
          everyone's preferences matter. With our patient-driven medication
          selection process, you have the freedom to share your input on the
          type of medication you require, its dosage, and even your preferred
          form. Whether you prefer pills, liquid, or any other form of
          medication, we've got you covered.
        </p>
        
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img
              src="{%static 'images/hero_1.jpg'%}"
              alt="Image placeholder"
              class="img-fluid rounded"
            />
            <a
              href="https://vimeo.com/channels/staffpicks/93951774"
              class="play-button popup-vimeo"
              ><span class="icon-play"></span
            ></a>
          </figure>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Flavor Customization</h2>
        </div>
        <p class="text-black">
          Gone are the days of taking unpleasant-tasting medications. We believe that taking your medication should be a pleasant experience. That's why we offer a wide range of delicious flavors for you to choose from. You can select your favorite flavor, be it fruity, minty, or any other tempting option. We ensure that your medicine will be prepared in a flavor that makes it easy and enjoyable to take, eliminating the struggle that some patients may have with traditional medications.
        </p>
        
      </div>
    </div>
  </div>
</div>


<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img
              src="{%static 'images/hero_1.jpg'%}"
              alt="Image placeholder"
              class="img-fluid rounded"
            />
            <a
              href="https://vimeo.com/channels/staffpicks/93951774"
              class="play-button popup-vimeo"
              ><span class="icon-play"></span
            ></a>
          </figure>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Direct Communication with Drug Manufacturers</h2>
        </div>
        <p class="text-black">
          Our pharmacy takes a proactive approach to cater to your unique needs. Once you've submitted your medication preferences, we take care of the rest. Our seamless process involves direct communication with the drug manufacturers to ensure that your prescription is produced according to your specifications. This way, you can trust that you're receiving the medication tailored explicitly to you
        </p>
        
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img
              src="{%static 'images/hero_1.jpg'%}"
              alt="Image placeholder"
              class="img-fluid rounded"
            />
            <a
              href="https://vimeo.com/channels/staffpicks/93951774"
              class="play-button popup-vimeo"
              ><span class="icon-play"></span
            ></a>
          </figure>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Convenient Delivery to Your Doorstep</h2>
        </div>
        <p class="text-black">
          We understand that your health and well-being are of the utmost importance, and we strive to make your medication experience as convenient as possible. Once your custom medication is ready, we'll deliver it right to your doorstep. Simply provide your address during the application process, and we'll take care of the rest. No more waiting in line at the pharmacy or worrying about running out of medication; we've got your back!
        </p>
        
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img
              src="{%static 'images/hero_1.jpg'%}"
              alt="Image placeholder"
              class="img-fluid rounded"
            />
            <a
              href="https://vimeo.com/channels/staffpicks/93951774"
              class="play-button popup-vimeo"
              ><span class="icon-play"></span
            ></a>
          </figure>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Expert Care and Support</h2>
        </div>
        <p class="text-black">
          Our team of knowledgeable pharmacists and healthcare professionals is always available to provide expert care and support. If you have any questions about your medication or need advice on how to best manage your health, feel free to reach out to us. We are here to assist you every step of the way on your journey to optimal well-being.
        </p>
        
      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
        <div class="icon mr-4 align-self-start">
          <span class="icon-truck text-primary"></span>
        </div>
        <div class="text">
          <h2>Free Shipping</h2>
          <p>
            Enjoy the convenience of free shipping on all orders. No matter where you are, we'll deliver your purchases right to your doorstep without any additional charges.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon mr-4 align-self-start">
          <span class="icon-refresh2 text-primary"></span>
        </div>
        <div class="text">
          <h2>Free Returns</h2>
          <p>
            We want you to be completely satisfied with your purchase. That's why we offer hassle-free returns on all orders. If for any reason you're not happy with your products, you can return them free of charge.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
        <div class="icon mr-4 align-self-start">
          <span class="icon-help text-primary"></span>
        </div>
        <div class="text">
          <h2>Customer Support</h2>
          <p>
            Our dedicated customer support team is here to assist you with any questions or concerns you may have. We pride ourselves on providing excellent customer service, and we are committed to ensuring your satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>The Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 mb-5">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img
                src="{%static 'images/person_1.jpg'%}"
                alt="Image placeholder"
                class="mb-4"
              />
              <h3 class="block-38-heading h4">Elizabeth Graham</h3>
              <p class="block-38-subheading">CEO/Co-Founder</p>
            </div>
            <div class="block-38-body">
              <p>
                As the CEO and Co-Founder, Elizabeth Graham brings visionary leadership and a passion for patient-centered care. With a background in healthcare management, she is committed to revolutionizing the pharmacy experience and empowering patients to take control of their health journey. Her dedication to personalized medication solutions has been the driving force behind the success of our pharmacy.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-5">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img
                src="{%static 'images/person_2.jpg'%}"
                alt="Image placeholder"
                class="mb-4"
              />
              <h3 class="block-38-heading h4">Jennifer Greive</h3>
              <p class="block-38-subheading">Co-Founder</p>
            </div>
            <div class="block-38-body">
              <p>
                Jennifer Greive, the Co-Founder, brings a wealth of expertise in healthcare innovation and patient advocacy. With a passion for improving the patient experience, Jennifer is dedicated to ensuring that our pharmacy remains at the forefront of personalized medication solutions. Her commitment to excellence and patient well-being has been instrumental in shaping our pharmacy's mission.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-5">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img
                src="{%static 'images/person_3.jpg'%}"
                alt="Image placeholder"
                class="mb-4"
              />
              <h3 class="block-38-heading h4">Patrick Marx</h3>
              <p class="block-38-subheading">Marketing</p>
            </div>
            <div class="block-38-body">
              <p>
                Patrick Marx is the marketing guru of our team, leveraging his creative strategies to spread the word about our patient-centered pharmacy. With a background in digital marketing and a passion for healthcare, Patrick ensures that our pharmacy reaches those who can benefit from our personalized services. His dedication to creating meaningful connections has been pivotal in shaping our pharmacy's brand identity.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-5">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img
                src="{%static 'images/person_4.jpg'%}"
                alt="Image placeholder"
                class="mb-4"
              />
              <h3 class="block-38-heading h4">Mike Coolbert</h3>
              <p class="block-38-subheading">Sales Manager</p>
            </div>
            <div class="block-38-body">
              <p>
                As the Sales Manager, Mike Coolbert brings an unwavering commitment to customer satisfaction and service excellence. With a background in pharmaceutical sales, Mike is dedicated to building strong relationships with patients and healthcare providers. His passion for helping people find the right medication solutions has made him a key player in our pharmacy's success.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
